html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inria Sans", sans-serif;
    overflow-x: hidden;
}

main {
    background-color: #000;
}

h2 {
    text-align: center;
    padding-top: 3%;
}

main,
footer,
.card {
    color: #fff;
}

hr {
    width: 80%;
    margin: 0 auto;
}

.container.card.d-none.d-md-block {
    background-color: transparent;
    margin: 0 auto; 
    padding: 0 15px;
}

/* Estilos barra de navegación */
a.navbar-brand {
    color: #fff;
    font-size: 4vw;
    text-shadow: #000 0.1em 0.1em 0.2em, #000 -0.1em -0.1em 0.2em;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

a.navbar-brand img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.container-fluid {
    padding-right: 15px; 
    padding-left: 15px;
}

nav {
    background-color: transparent;
}

.navbar-nav a {
    color: #fff;
    font-size: 25px;
    text-shadow: #000 0.1em 0.1em 0.2em, #000 -0.1em -0.1em 0.2em;
}

/*Estilos sección de presentación Quiénes Somos */
.tarjeta {
    margin-bottom: 3%;
}

.iconos {
    padding: 3% 0%;
}

.card-body {
    padding: 0px;
}

/* Estilos sección destacados/cards */
.container.card.d-none.d-md-block {
    background-color: transparent;
}

.container.cards {
    display: flex;
    flex-wrap: wrap; 
    margin: 0 auto; 
    padding: 0 15px;
}

div.text-center,
div.card2 {
    background-color: #0dcaf0;
}

.card2 {
    height: 100%;
}

/* Estilos formulario contacto */
.formulario {
    padding: 0% 3%;
}

.btn {
    margin-bottom: 4%;
    background-color: #0dcaf0;
}

/* Estilos pie de página */
footer {
    background-color: #0dcaf0;
    padding: 0 15px;
}

footer i {
    padding-right: 1%;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    color: #ccc;
}