.card {
    display: inline-block;
}
a.navbar-brand {
    color:#fff;
    text-shadow: #000 0.1em 0.1em 0.2em, #000 -0.1em -0.1em 0.2em;
}
nav a img {
    width: 8%;
}
nav {
    background-color: transparent;
}
.navbar-nav a {
    color:#fff;
    text-shadow: #000 0.1em 0.1em 0.2em, #000 -0.1em -0.1em 0.2em;

}